<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' , content='initial-scale=1.0, width=device-width'>
    <link href="https://fonts.googleapis.com/css?family=Russo+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    @Styles.Render("~/bundle/main.css")
    @Scripts.Render("~/bundles/modernizr")
    <title>@ViewBag.Title</title>
</head>

<body>
    <header class="header">
        <div class="logo">LADRAMHAIOLA</div>

        <nav class='menu'>
            <ul class="menu__list">
                <li class="menu__item"><a href="#">главная</a></li>
                <li class="menu__item"><a href="#">турниры</a></li>
                <li class="menu__item"><a href="#">статистика</a></li>
            </ul>
        </nav>

        <div class="form__login">
            <div id="NotLoggedInPH">
                 <button class='btn' id="signup">@Html.ActionLink("Регистрация", "Register", "Account")</button>
                 <button class='btn' id="login">@Html.ActionLink("Вход", "Login", "Account")</button>
            </div>
            <div id="LoggedInPH">
                <button class='btn' id="logout">@Html.ActionLink("Выйти", "Logout", "Account", null, new { @class = "btn" })</button>
                <div>@User.Identity.Name</div>
            </div>
        </div>

    </header>

    @RenderBody()

    <div class='hide'></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/shared")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>