@model LOC_WebApi.Models.RegisterModel
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset='utf-8'>
    <meta name='viewport' , content='initial-scale=1.0, width=device-width'>
    <link href="https://fonts.googleapis.com/css?family=Russo+One&amp;subset=cyrillic,latin-ext" rel="stylesheet">
    @Styles.Render("~/bundle/main.css")
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/">LADRAMHAIOLA</a>
        </div>

        <nav class='menu'>
            <ul class="menu__list">
                <li class="menu__item"><a href="#">главная</a></li>
                <li class="menu__item"><a href="#">турниры</a></li>
                <li class="menu__item"><a href="#">статистика</a></li>
            </ul>
        </nav>
        <ul class="miniprofile">
            <li class="miniprofile__item">
                <a class="btn btn__login" data-value="register">регистрация</a>
            </li>
            <li class="miniprofile__item">
                <a class="btn btn__login" data-value="login">вход</a>
            </li>
            @User.Identity.Name
        </ul>
    </header>

    @RenderBody()

    <div class="popup">
        <div class="popup__inner">
            <div class="popup__wrapper regiser">
                <div class="popup__top">
                    <div class="popup__title">Регистрация</div>
                    <div class="popup__close"></div>
                </div>
                <form class="form" metod="post" action="/">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <label class="form__label">
                        <span>Электронный адрес</span>
                        @Html.EditorFor(model => model.Email)
                        @Html.ValidationMessageFor(x => x.Email)
                    </label>

                    <label class="form__label">
                        <span>Логин</span>
                        @Html.EditorFor(model => model.UserName)
                        @Html.ValidationMessageFor(x => x.UserName)
                    </label>

                    <label class="form__label">
                        <span>Пароль</span>
                        @Html.EditorFor(model => model.Password)
                        @Html.ValidationMessageFor(x => x.Password)
                    </label>

                    <label class="form__label">
                        <span>Повторить пароль</span>
                        @Html.EditorFor(model => model.PasswordConfirm)
                        @Html.ValidationMessageFor(x => x.PasswordConfirm)
                    </label>

                    <div class="form__btn">
                        <button type="submit" class="btn btn__submit">Регистрация</button>
                    </div>
                </form>
            </div>
            <div class="popup__wrapper login">
                <div class="popup__top">
                    <div class="popup__title">Вход</div>
                    <div class="popup__close"></div>
                </div>

                <form class="form" metod="post" action="/">
                    @Html.AntiForgeryToken()

                    <div>
                        @Html.ValidationSummary()
                        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                        <label class="form__label">
                            <span>Логин</span>
                            @Html.EditorFor(x => x.UserName)
                        </label>

                        <label class="form__label">
                            <span>Пароль</span>
                            @Html.PasswordFor(x => x.Password)
                        </label>

                        <div class="form__btn">
                            <button type="submit" class="btn btn__submit">Вход</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="popup__layout"></div>
    </div>

    @Scripts.Render("~/bundle/bundle.js")
</body>
</html>