@model LOC_WebApi.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Регистрация</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <h4>Регистрация пользователя</h4>
    <hr />
        @Html.ValidationSummary()
    <div>
        Электронный адрес
        <div>
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(x => x.Email)
        </div>
    </div>

    <div>
        Логин
        <div>
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(x => x.UserName)
        </div>
    </div>

    <div>
        Пароль
        <div>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(x => x.Password)
        </div>
    </div>

    <div>
        Подтвердить пароль
        <div>
            @Html.EditorFor(model => model.PasswordConfirm)
            @Html.ValidationMessageFor(x => x.PasswordConfirm)
        </div>
    </div>

    <div>
        <div>
            <input type="submit" value="Зарегистрировать" />
            @Html.ActionLink("На главную", "Index", "Home")
        </div>
    </div>
</div>
}